@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}
body{font-family: "Work Sans", sans-serif;color: #000;}

a {
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
a{transition: 0.4s;-webkit-transition: 0.4s;}
.btn{transition: 0.4s;-webkit-transition: 0.4s;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'baoudisplay';
}


ul{margin-bottom: 0;}

.btn-rounded{border-radius: 25px;}

.btn {
	font-weight: 600;
	padding: .75rem 1.8rem;
	border-radius: 3px;
}
.btn:focus, .form-control:focus, .form-select:focus{box-shadow: none}

.btn-primary{
	background-color: #00CAE0;
	border: 1px solid #00CAE0;
}

.btn-primary:hover{
	background-color: transparent;
	border-color: #00CAE0;
	color: #00CAE0;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #00CAE0;
    border-color: #00CAE0;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: rgba(0,202,224,1.00);
    border-color: #00CAE0;
    box-shadow: 0 0 0 .2rem rgba(0,202,224,.5);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0,202,224,.5);
}

.btn-outline-primary{
	color: #E53A06;
	border-color: #E53A06;
}
.btn-outline-primary:hover {
	color: #fff;
	background-color: #E53A06;
	border-color: #E53A06;
}
.btn-check:active + .btn-outline-primary, .btn-check:checked + .btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active {
	color: #fff;
	background-color: #E53A06;
	border-color: #E53A06;
}
.btn-check:active + .btn-outline-primary:focus, .btn-check:checked + .btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
  box-shadow: 0 0 0 .25rem rgba(229,58,6,.5);
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(229,58,6,.5);
}

.btn-secondary{
	background-color: #728287;
	border: 1px solid #728287;
	border-radius: 3px;
	font-weight: 500;
	padding: .75rem 1.8rem;
}

.btn-secondary:hover{
	background-color: transparent;
	border-color: #728287;
	color: #728287;
}

.btn-danger{
	background-color: #F14D4D;
	border: 1px solid #F14D4D;
	border-radius: 3px;
	font-weight: 600;
	padding: .75rem 1.8rem;
}

.text-primary {
	color: #00CAE0!important
}

.form-control, .form-select , .theme_input , .theme_textarea{
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #B5B5B5;
	height: 50px;
	font-weight: 400;
	font-size: 18px;
	color: #000
}
.form-control::-webkit-input-placeholder  , .theme_input::-webkit-input-placeholder , .theme_textarea::-webkit-input-placeholder {
	color:#666;
	opacity:1
}
.form-control::-moz-placeholder , .theme_input::-moz-placeholder , .theme_textarea::-moz-placeholder  {
	color:#666;
	opacity:1
}
.form-control:-ms-input-placeholder , .theme_input:-ms-input-placeholder , .theme_textarea:-ms-input-placeholder {
	color:#666;
	opacity:1
}
.form-control::-ms-input-placeholder  , .theme_input::-ms-input-placeholder , .theme_textarea::-ms-input-placeholder{
	color:#666;
	opacity:1
}
.form-control::placeholder , .theme_input::placeholder , .theme_textarea::placeholder  {
	color:#666;
	opacity:1
}
.form-control:focus, .form-select:focus , .theme_input:focus , .theme_textarea:focus{
	border-color: #00CAE0;
}
.form-label , .theme_label{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
}

.main-wrap{
	padding-top: 100px;
	padding-bottom: 100px;
}

.form-step{
	gap: 5px;
	text-align: center;
	font-size: .9em;
	margin-bottom: 30px;
}
.form-step .step-indicator {
	position: relative;
	flex: 1;
	padding-bottom: 30px;color: #AAAAAA;
	font-size: 22px;
	font-weight: 600;
}
.form-step .step-indicator.active {
	color: #000;
}
.form-step .step-indicator.finish {
	font-weight: 600;
	color: #009688;
}
.form-step .step-indicator::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	z-index: 9;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 50%;
	border: 2px solid #aaa;
}
.form-step .step-indicator.active::before {
	background-color: #fff;
	border: 2px solid #00CAE0;
}
.form-step .step-indicator.finish::before {
	background-color: #009688;
	border: 2px solid #b7e1dd;
}
.form-step .step-indicator::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 12px;
	width: 70%;
	margin-left: 20px;
	height: 3px;
	background-color: #aaaaaa;
}
/*.form-step .step-indicator.active::after {
	background-color: #a7ede8;
}*/
.form-step .step-indicator.finish::after {
	background-color: #009688;
}
.form-step .step-indicator:last-child:after {
	display: none;
}

.form-wrap{
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

.form-head{
	border-bottom: 1px solid #000000;
	padding: 25px 30px;
}
.form-head h6{font-size: 14px;font-weight: 400;color: #00CAE0;}
.form-head h4{margin-bottom: 0;}

.form-body{
	padding: 30px;
}


/* ====== New add css by Rajdip ====== */
.ff-baoudisplay{
	font-family: 'baoudisplay';
}

.fw-500{
	font-weight: 500 !important;
}
.fw-600{
	font-weight: 600 !important;
}
.text-gray{
	color: #666666;
}
 .select_location label.radio-card input[type='radio'] ,  .select_location label.radio-card input[type='checkbox'] {
	 appearance: none;
	 -webkit-appearance: none;
	 -moz-appearance: none;
}
.select_location label{
	/* display: inline-flex; */
}
.venue_radio_select label{
	margin-top: 20px;
	cursor: pointer !important;
	column-gap: 10px;
	display: flex;
	align-items: center;
}
.venue_radio_select input.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='white'/%3E%3C/svg%3E%0A");
	background-size: 14px;
	 background-position: center center;
	 transition: 200ms linear;
}
.venue_radio_select input.form-check-input:checked {
    background-color: #00CAE0;
    border-color: #00CAE0;
	box-shadow: none !important;
}
.select_location label.radio-card .check-icon , .venue_radio_select input.form-check-input {
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
    border: solid 2px #000000;
    border-radius: 50%;
    transition: 200ms linear;
    position: relative;
}

 .select_location label.radio-card .check-icon:before {
	 content: '';
	 position: absolute;
	 inset: 0;
	 background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.93552 4.58423C0.890286 4.53718 0.854262 4.48209 0.829309 4.42179C0.779553 4.28741 0.779553 4.13965 0.829309 4.00527C0.853759 3.94471 0.889842 3.88952 0.93552 3.84283L1.68941 3.12018C1.73378 3.06821 1.7893 3.02692 1.85185 2.99939C1.91206 2.97215 1.97736 2.95796 2.04345 2.95774C2.11507 2.95635 2.18613 2.97056 2.2517 2.99939C2.31652 3.02822 2.3752 3.06922 2.42456 3.12018L4.69872 5.39851L9.58026 0.516971C9.62828 0.466328 9.68554 0.42533 9.74895 0.396182C9.81468 0.367844 9.88563 0.353653 9.95721 0.354531C10.0244 0.354903 10.0907 0.369582 10.1517 0.397592C10.2128 0.425602 10.2672 0.466298 10.3112 0.516971L11.0651 1.25003C11.1108 1.29672 11.1469 1.35191 11.1713 1.41247C11.2211 1.54686 11.2211 1.69461 11.1713 1.82899C11.1464 1.88929 11.1104 1.94439 11.0651 1.99143L5.06525 7.96007C5.02054 8.0122 4.96514 8.0541 4.90281 8.08294C4.76944 8.13802 4.61967 8.13802 4.4863 8.08294C4.42397 8.0541 4.36857 8.0122 4.32386 7.96007L0.93552 4.58423Z' fill='aqua'/%3E%3C/svg%3E%0A");
	 background-repeat: no-repeat;
	 background-size: 12px;
	 background-position: center center;
	 transform: scale(1.6);
	 transition: 200ms linear;
	 opacity: 0;
}

.select_location label.radio-card input[type='radio']:checked + .card-content-wrapper .check-icon , .select_location label.radio-card input[type='checkbox']:checked + .card-content-wrapper .check-icon {
    background: #fff;
    border-color: #fff;
    transform: scale(1.2);
}

 .select_location label.radio-card input[type='radio']:checked + .card-content-wrapper .check-icon:before ,  .select_location label.radio-card input[type='checkbox']:checked + .card-content-wrapper .check-icon:before {
	 transform: scale(1);
	 opacity: 1;
}

 .select_location label.radio-card input[type='radio']:focus + .card-content-wrapper .check-icon ,  .select_location label.radio-card input[type='checkbox']:focus + .card-content-wrapper .check-icon{
	 box-shadow: none;
	 border-color: #00CAE0;
}
.select_location label.radio-card:first-child{
	margin-right: 20px;
}

.select_location .card-content-wrapper {
	border: 2px solid #C7E1E3;
	display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 14px;
	padding: 15px 25px;
    border-radius: 11px;
}

.select_location label.radio-card input[type='radio']:checked + .card-content-wrapper, .select_location label.radio-card input[type='checkbox']:checked + .card-content-wrapper {
	color: #fff;
    background-color: #00CAE0;
    border: 2px solid transparent;
}

.theme_input , .theme_textarea{
	width: 100%;
	outline: none;
	padding: 10px 15px;
}

.theme_textarea{
	min-height: 150px;
}

.theme_btn{
	transition: .3s all;
	text-transform: capitalize;
	outline: none;
	border: 0;
	text-decoration: none;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap:8px;
	font-size: 18px;
	background-color: #00CAE0;
	padding: 10px 20px;
	border-radius: 100px;
}

.theme_blackBtn{
	transition: .3s all;
	outline: none;
	border: 0;
	text-decoration: none;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap:8px;
	font-size: 18px;
	background-color: #000000;
	padding: 10px 30px;
	border-radius: 100px;
	font-weight: 500;
}

.theme_btn:hover{
	color: #fff;
	background-color: #01b3c7;
}
.theme_blackBtn:hover{
	color: #fff;
	background-color: #3b3b3b;
}

.button_wrapper{
	display: flex;
	align-items: center;
	justify-content: end;
	column-gap: 30px;
}

.anchor_link{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	column-gap: 8px;
	color: #666666;
	font-weight: 600;
}
.anchor_link:hover{
	color: #666666;
	text-decoration: underline;
}
.hidden_section{
	width: 100%;
	min-width: 100%;
}
.anchor_link i{
	font-size: 18px;
}

.date_time_row{
	margin-bottom: 20px;
}

.fileUploadWrapper{
	width: 100%;
}
.fileLabel{
	text-align: center;
	cursor: pointer !important;
	width: 100%;
	height: 100%;
	padding: 25px;
	border-radius: 25px;
	cursor: pointer !important;
	background-color: #F1F3F5;
	border: 1px dashed #AAAAAA;
}
.fileLabel input.fileInput{
	opacity: 0;
	cursor: pointer !important;
}

.fileLabel .label_para{
	max-width: 220px;
	margin: auto;
	font-weight: 600;
}
.audience_option label{
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
}
.audience_option{
	margin-bottom: 20px;
}

.rangeWrapper{
	margin-top: 30px;
	margin-bottom: 30px;
}

.range-slider {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 3.5rem;
    margin-bottom: 0px;
}

    .range1, .range2 { -webkit-appearance: none; width: 100%; }
    .range1:focus , .range2:focus { outline: none; }

    .range1::before, .range1::after , .range2::before, .range2::after{
        position: absolute;
        top: 2rem;
        color: #333;
        font-size: 14px;
        line-height: 1;
        padding: 3px 5px;
        background-color: rgba(0,0,0,.1);
        border-radius: 4px;
    }
    .range1::before , .range2::before{ left: 0; opacity: 0; content: attr(data-min); }
    .range1::after , .range2::after{ right: 0; opacity: 0; content: attr(data-max); }

    .range1::-webkit-slider-runnable-track {
        width: 100%;
        height: 15px;
        cursor: grab;
        animate: 0.2s;
        background: linear-gradient(90deg, #00CAE0 var(--range-progress1), #dee4ec var(--range-progress1));
        border-radius: 1rem;
    }
	  .range2::-webkit-slider-runnable-track {
        width: 100%;
        height: 15px;
        cursor: grab;
        animate: 0.2s;
        background: linear-gradient(90deg, #00CAE0 var(--range-progress2), #dee4ec var(--range-progress2));
        border-radius: 1rem;
    }
    .range1::-webkit-slider-thumb , .range2::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 2px solid #00CAE0;
        box-shadow: 0 1px 3px rgba(0,0,255,.3);
        border-radius: 50%;
        background: #fff;
        cursor: grab;
        height: 28px; 
		width: 28px;
        transform: translateY(calc(-50% + 8px));
    }
	span.tooltip_value {
		width: max-content;
		font-size: 15px !important;
		padding: 5px 9px !important;
	}
    .tooltip {
        position: absolute;
        top: -2.25rem;
		opacity: 1;
		font-family: "Work Sans", sans-serif;
    }
.tooltip span {
    position: absolute;
    text-align: center;
    display: block;
    line-height: 1;
    padding: 0.125rem 0.25rem;
    color: #fff;
    border-radius: 5px;
    background: #00CAE0;
    font-size: 1.25rem;
    left: 50%;
    transform: translate(-50%, 0);
}
    .tooltip span:before {
        position: absolute;
        content: "";
        left: 50%; bottom: -8px;
        transform: translateX(-50%);
        width: 0; height: 0;
        border: 4px solid transparent;
        border-top-color: #00CAE0;
    }

.showTooltip span{
	text-transform: capitalize !important;
		color: #00CAE0;
		font-size: 18px !important;
		font-weight: 500;
		padding: 0 !important;
		margin-top: 10px !important;
		display: block;
	}

	.feesWrapper{
		background-color: #F1F3F5;
		padding: 25px 25px;
		border-radius: 15px;
	}

	.fees_types{
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 12px;
		padding-bottom: 15px;
	}

	.fees_total{
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 12px;
		color: #00CAE0;
		padding-top: 15px;
		border-top: 1px solid 	#AAAAAA;
	}

	.remove_btn{
		text-decoration: none;
		/* transition: .2s all; */
		display: flex;
		align-items: center;
		justify-content: end;
		column-gap: 5px;
		color: #EB5757 !important;
		font-size: 15px;
		font-weight: 500;
	}
	.remove_btn i{
		color: #EB5757;
		/* transition: .2s all; */
		font-size: 12px;
	}
	.remove_btn:hover i{
		font-size: 14px;
	}

	.totalWrapper{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #00CAE0;
		padding: 30px;
		border-radius: 25px;
		margin-top: 35px;
	}
	.totalWrapper p{
		font-size: 20px;
		font-weight: 500;
		color: #fff;
	}

.progress.form_process {
    display: flex;
    height: 20px;
    overflow: hidden;
    background-color: #E9F7EF;
    border-radius: 100px;
    margin-bottom: 40px;
}
.form_process .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border-radius: 100px;
    white-space: nowrap;
    background-color: #00CAE0;
    transition: width .6s ease;
}

#msform {
    position: relative;
}
#msform fieldset {
    border: 0 none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative
}

#msform fieldset:not(:first-of-type) {
    display: none
}
.progress {
    height: 20px
}

#msform fieldset{
	text-align: right;
}
#msform fieldset .form-wrap{
	text-align: left;
}
#msform fieldset .anchor_link , #msform fieldset  .theme_blackBtn {
	text-align: right;
	margin-left: 15px;
	margin-top: 35px;
}


/* Dashboard Css */
/* Dashboard */
.dashboardWrap {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

/* Side Nav */
.sideNav {
    flex-basis: 260px;
    position: fixed;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.10);
    background: #0E2238;
    height: 100%;
    width: 260px;
    padding:20px 12px 0 0px;
    overflow-y: auto;
    z-index: 9;
	display: flex;
    flex-direction: column;
}

.navLogo  span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: block;
    padding: 20px 24px 30px;
}

.sideNav ul {
	padding: 0;
	margin: 0;
	list-style:none;
}

.sideNav ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 16px;
    font-weight: 400;
    padding: 11px 12px 11px 24px;
    border-radius: 0px 30px 30px 0px;
}

.sideNav ul li a.active {
	background-color: rgba(0, 202, 224,0.12);
	color: #00CAE0;
}

.sideNav ul li a span {
    width: 20px;
    text-align: center;
}

.sideNav ul li a.active svg path {
	fill: #00CAE0;
}

.navBtn {
	text-align: center;
	margin-top: auto;
    margin-bottom: 30px;
}

.themeBtn {
    background: #00CAE0;
    padding: 14px 32px;
    line-height: normal;
    font-size: 18px;
    border-radius: 30px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #00CAE0;
	display: inline-block;
}

.navClose {
	display: none;
}	



/* Dashboard Content */
.dashboardContent {
    flex-basis: calc(100% - 260px);
    padding-inline: 45px;
    margin-left: 260px;
}

.titleWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

.titleWrap h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    color: #00CAE0;
    font-family: "Work Sans", sans-serif;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 20px;
}

.sectionTitle.title_border {
    border-bottom: 1px solid #000;
}

.sectionTitle p {
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.titleWrap select.form-select {
    width: auto;
    border: none;
    color: #000;
    font-weight: 500;
}

.whiteBg {
    background: #fff;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.tableOuter table {
	margin: 0;
}

.tableOuter table th, .tableOuter table td {
    padding: 10px 20px;
	vertical-align: middle;
}

.tableOuter table th {
    background: #F1F3F5;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    border-bottom: none  !important;
}

.tableOuter table td {
    font-size: 16px;
    font-weight: 400;
	color: #666666;
	border-color: #C6C6C6;
}

.tableOuter .themeBtn {
    font-size: 14px;
    font-weight: 400;
    padding: 11px 24px;
}

.tableProductImg img {
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 6px;
}

.tableBottonData {
	padding: 20px;
}

.tableShowingData {
    color: #000;
    font-size: 16px;
}

.tablePagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.tablePagination ul span {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #000;
}

.tablePagination ul span.active {
    background: #00CAE0;
    color: #fff;
}

.form-switch {
    padding-left: 0;
	text-align: center;
}

.form-check-input:focus {
    box-shadow: none;
}

.form-switch .form-check-input {
    width: 44px;
    height: 20px;
    margin: 0 auto;
    float: inherit;
}

.form-check-input:checked {
    background-color: #00CAE0;
    border-color: #00CAE0;
}

.form-switch label {
    display: block;
    font-size: 12px;
    line-height: normal;
}

.actionBtn {
    display: flex;
    flex-flow: nowrap;
    column-gap: 10px;
}

.actionBtn .btn {
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #B5B5B5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}


/* Popup Css */
.modal-dialog {
    max-width: 1096px;
}

.modal-content {
    border-radius: 25px;
	border: none;
}

.modal-header {
    border-color: #000;
    padding: 14px 24px;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #00CAE0;
    font-size: 20px;
    font-weight: 600;
	font-family: "Work Sans", sans-serif;
}

.modal-body {
    padding: 24px;
}

.modal .theme_textarea {
    min-height: 100px;
}

.modal .form-label, .modal .theme_label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
}

.customFile__input {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #B5B5B5;
    height: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    overflow: hidden;
}

.customFile__input span {
    background: #00CAE0;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.customFile__input input {
    position: absolute;
    top: 0;
	left: 0;
    opacity: 0;
}


/* Contact Us */
.formTitle {
    margin: 40px 0 10px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.repayCard {
	padding: 20px;
}

.ticketNb {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.ticketNb p {
	color: #000;
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
	margin: 0;
}

.ticketNb span {
	color: #666;
	font-size: 16px;
}

.ticketTag span {
	font-weight: 400;
	font-size: 16px;
	display: inline-block;
	position: relative;
}

.ticketTag span:not(:last-child) {
	margin-right: 20px;
}

.ticketTag span:not(:last-child)::after {
    content: '';
    background-color: #666;
    height: 5px;
    width: 5px;
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.supportTag {
	color: #666;
}

.answerdTag {
	color: #27A857;
}

.messageTag {
	color: #00CAE0;
}

.repayContent {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 20px;
}

.repay_Title {
	color: #000;
	font-weight: 700;
	margin: 0 0 10px;
	font-size: 20px;
}

.repay_des {
	color: #666;
	font-weight: 400;
	margin: 0 0 20px;
	font-size: 18px;
}


@media (min-width: 1200px) {
	
}
